* {
    background-color: black;
}

body, html {
      height: 100%;
      margin: 0;
      display: grid;
      place-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}

#imageList {
    display: flex;
    gap: 5px;
}

li {
    justify-content: center;
    align-items: center;
    margin: 0;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    object-fit: cover;
}

button {
    border: none;
}

#btn {
    width: 50px;
    height: 50px;
}

